<style>
  .glyphicon-action-bar {
    font-size: 12px;
    margin-left: 0.5em;
    /*text-align: center;*/
    /*position:relative;*/
    top: calc(50% - 10px);
    color: #4d4d4d;
  }
</style>


<div class="row" style="padding: 0.5em; text-align: right" >
  <div class="text-right" style="width:100%;">
    <span><a><i class="glyphicon glyphicon-search glyphicon-action-bar"></i></a></span>
    <span><a><i class="glyphicon glyphicon-print glyphicon-action-bar"></i></a></span>
    <span><a><i class="glyphicon glyphicon-save glyphicon-action-bar"></i></a></span>
  </div>
</div>
