<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
<!--<link rel="stylesheet" href=".../node_modules/bootstrap/dist/css/bootstrap.css">-->

<style>
  html, body {
    height: 100%;
  }

  /*Verizon fonts*/
  /*TODO  addapt it to entore project */

  h1.normalHeading, h2.normalHeading, h3.normalHeading, h4.normalHeading {
    font-family: "NeueHaasGroteskTextMedium", Arial, Helvetica, sans-serif;
  }

  h1, h2, h3, h4 {
    font-family: "NeueHaasGroteskDisplayBold", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 100%;
  }

  .lowerpriority {
    color: #d2d3d4 !important;
  }

  .highpriority {
    color: #cd040b !important;
  }

  .footnote, .timestamp {
    color: #595a5d !important;
    font-size: 11px !important;
    font-style: italic !important;
  }

  /*end of verizon fonts*/

  .btn {
    box-shadow: 1px 1px 1px #888888 !important
  }

  .sprite-billinginquiries {
    background-position: 0 -1633px;
    width: 40px;
    height: 40px;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .grid-item.is-dragging,
  .grid-item.is-positioning-post-drag {
    background: #d2d6d1;
    z-index: 2;
  }

  .packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
  }

  /*PACKERY TESTSSSSSS*/

  .grid-item-content {
    height: 100px;
    background: #C09;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
  }

  .grid-item-content--height2 {
    height: 200px;
  }

  .no-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #696262;
    content: ">";
  }

  .order-image {
    margin-right: 0.5em
  }

  .sprite-icon-background,
  .brchecked .x-form-radio {
    background: transparent url(https://vecrmqa4.ebiz.verizon.com/vecrm/customer/resources/icon/vecrm-landingpageicons-sprite.png) no-repeat 0 0;
    display: inline-block;
  }

  .icon-sensitive {
    background-position: 0 -350px;
    width: 20px;
    height: 20px;
  }

  .icon-federal {
    background-position: 0 -140px;
    width: 20px;
    height: 20px;
  }

  .icon-defense {
    background-position: -370px -1172px;
    width: 20px;
    height: 20px;
  }

  .icon-number {
    background-position: -110px -1345px;
    width: 20px;
    height: 20px;
  }

  .icon-suspension-alert {
    background-position: -278px -805px;
    width: 20px;
    height: 20px;
  }

  .icon-hihg-voltage {
    background-position: -252px -1315px;
    width: 20px;
    height: 20px;
  }

  .icon-contract-restrict {
    background-position: -347px -1897px;
    width: 29px;
    height: 20px;
  }

  .customer-info-label {
    font-size: x-small;
  }

  .btn-table-head{
    color: #fff;
    background-color: #3e78d0;
    border-color: #3e78d0;
  }

</style>


<ol class="breadcrumb"
    style="height: 50px; vertical-align: middle; background-color: lightgrey; padding-top: 15px; padding-left: 40px">
  <li class="breadcrumb-item"><a>Dashboard</a></li>
  <li class="active breadcrumb-item">Goverment of the United States</li>
</ol>

<div class="container-fluid" style="padding: 20px 40px 42px;">

  <!--CUSTOMER RESUME-->
  <!--<div class="row col-lg-12">-->


  <div style="margin-bottom: 2.5em">
    <div class="row">
      <div style="padding: 1em;" class="col-lg-7">
        <h1>Goverment of the United States</h1>
      </div>
      <div class="row col-lg-5" style="float: right; align-items: center;">
        <div class="row col-lg-3">
          <div class="order-image" style="width: 15%">
            <img class="x-icon sprite-icon-background insidepanel-icon x-icon-default icon-suspension-alert">
          </div>
          <div style="width: 70%">
            <label class="customer-info-label">VzB Suspension Alert</label>
          </div>
        </div>

        <div class="row col-lg-3">
          <div class="order-image" style="width: 15%">
            <img class="x-icon sprite-icon-background insidepanel-icon x-icon-default icon-hihg-voltage">
          </div>
          <div style="width: 70%">
            <label class="customer-info-label">High Voltage</label>
          </div>
        </div>

        <div class="row col-lg-3">
          <div class="order-image" style="width: 15%">
            <img class="x-icon sprite-icon-background insidepanel-icon x-icon-default icon-contract-restrict">
          </div>
          <div style="width: 70%">
            <label class="customer-info-label" style="color: darkgray;">Contract Restrictions</label>
          </div>
        </div>
        <!--Here we put the hamburger component-->
        <menu-button></menu-button>
      </div>

    </div>
    <br/>
    <div class="row">
      <div class="col-lg-8">
        <div class="col-lg-2">
          <div class="row">
            <div class="order-image" style="width: 15%">
              <img class="x-icon sprite-icon-background insidepanel-icon x-icon-default icon-sensitive">
            </div>
            <div style="width: 80%">
              <label>FAVORITE</label>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="row">
            <div class="order-image" style="width: 15%">
              <img class="x-icon sprite-icon-background insidepanel-icon x-icon-default icon-federal">
            </div>
            <div style="width: 80%">
              <label>FEDERAL</label>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="row">
            <div class="order-image" style="width: 15%">
              <img class="x-icon sprite-icon-background insidepanel-icon x-icon-default icon-number">
            </div>
            <div style="width: 80%">
              <label>061906139</label>
            </div>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="row">
            <div class="order-image" style="width: 15%">
              <img class="x-icon sprite-icon-background insidepanel-icon x-icon-default icon-defense">
            </div>
            <div style="width: 80%">
              <label>DEFENSE</label>
            </div>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="row">
            <div class="order-image" style="width: 15%">
              <img class="x-icon sprite-icon-background insidepanel-icon x-icon-default icon-sensitive">
            </div>
            <div style="width: 80%">
              <label>SENSITIVE</label>
            </div>
          </div>
        </div>

      </div>

      <div style="text-align: right">


      </div>
    </div>

  </div>

  <!--<div>-->
  <!--The other div-->
  <!--</div>-->

  <!--</div>-->

  <!--CARDS GRID-->
  <div class="grid">
    <div class="grid-sizer col-md-6 col-lg-2 "></div>
    <!--CASE MANAGEMENT ACTIVITIES-->
    <card header="Case Managament Activities" class="grid-item  col-lg-6" style="margin-bottom: 1.5em" data-item-id="1">
      <card-body>
        <table class="table table-striped table-emails table-hover" id="folder-view">
          <thead>
          <tr>
            <th colspan="2">
              <button class="btn btn-table-head width-100 mb-xs" role="button">
                Current
              </button>
              <button class="btn btn-gray width-100 mb-xs" role="button">
                Archived
              </button>
            </th>
            <th colspan="2">
              <div>
                <search-bar style="margin-right: 2em;" class="pull-right"></search-bar>
              </div>
            </th>
          </tr>
          </thead>
        </table>
        <div style="padding: 1em">
          <div class="widget-body" style="overflow: auto">
            <grid [rows]="cases" [columns]="caseColumns"></grid>
          </div>
        </div>
      </card-body>

      <card-footer style="text-align: right">
        <div class="text-right">
          <button-container title="Create New Case" buttonClass="btn-create-case"></button-container>
        </div>
      </card-footer>
    </card>


    <!--BILLING & CUSTPMER IONQUIRIES-->
    <card header="Billing and Customer Inquiries" class="grid-item col-lg-6" style="margin-bottom: 1.5em"
          data-item-id="2">
      <card-body>

        <div style="background-color: whitesmoke">
          <div class="clearfix">
            <ul class="nav nav-tabs pull-xs-left" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#basic" role="tab"
                   aria-controls="basic" aria-expanded="true">Basic</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#assumtion" role="tab"
                   aria-controls="assumtion" aria-expanded="false">Assumtion</a>
              </li>
            </ul>
          </div>
          <div class="tab-content mb-lg" id="myTabContent">
            <div role="tabpanel" class="tab-pane active in clearfix" id="basic" aria-labelledby="basic-tab"
                 aria-expanded="true" style="padding: inherit; margin-top: 3px">
              <div class="row">
                <!--TODO make this auto replicable from angular backend-->
                <order-container colorNumber="billingnumbertext" style="width:50%;" title="Unresolved Billing Inquiries"
                                 number=0 imageSource='icon-billinginquiries' id="image-1166"></order-container>
                <order-container colorNumber="billingnumbertext" style="width:50%;"
                                 title="Denied inquiries Awaiting Closure" number=0
                                 imageSource="icon-deniedinquiries"></order-container>
                <order-container colorNumber="billingnumbertext" style="width:50%;"
                                 title="Approved Inquiries Awaiting Posting" number=0
                                 imageSource="icon-approvedinquiries"></order-container>
                <order-container colorNumber="billingnumbertext" style="width:50%;" title="Inquiries Pending Approbal"
                                 number=0 imageSource="icon-inquiriespending"></order-container>
              </div>
            </div>
            <div class="tab-pane" id="assumtion" role="tabpanel" aria-labelledby="assumtion-tab" aria-expanded="false">
              <p>Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial
                point. I think the opposite actually. Everyone knows what is lore ipsum - it is easy to understand if
                text is lore ipsum.</p>
              <div class="clearfix">
                <div class="btn-toolbar">
                  <a class="btn btn-default" href="#">&nbsp;&nbsp;Check&nbsp;&nbsp;</a>
                  <a class="btn btn-primary" href="#">&nbsp;&nbsp;Dance?&nbsp;&nbsp;</a>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab" aria-expanded="false">
              <p> If you will think too much it will sink in the swamp of never implemented plans and
                ideas or will just go away or will be implemented by someone else.</p>
              <p><strong>5 months of doing everything to achieve nothing.</strong></p>
              <p>You'll automatically skip - because you know - it's just non-informative stub. But what if there some
                text like this one?</p>
            </div>
            <div class="tab-pane" id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab" aria-expanded="false">
              <blockquote class="blockquote-sm blockquote mb-xs">
                Plan it? Make it!
              </blockquote>
              <p>The same thing is for startups and ideas. If you have an idea right away after it appears
                in your mind you should go and make a first step to implement it.</p>
            </div>
          </div>
        </div>


      </card-body>
      <card-footer style="text-align: right">
        <div class=" row text-right" style="margin-left: 33em;  ">
          <button-container title="Create New Case" buttonClass="btn-view"></button-container>
          <button-container style="margin-left: 3px;" title="&nbsp;&nbsp;Create Bill Inquiry&nbsp;&nbsp;" buttonClass="btn-create-bill"></button-container>
        </div>
      </card-footer>
    </card>


    <!--ORDERS INFO-->
    <card header="Orders" class="grid-item col-xs-6 col-sm-4 col-md-3 col-lg-6" style="margin-bottom: 1.5em"
          data-item-id="3">
      <card-body>
        <table class="table table-striped table-emails table-hover" style="width: 100%" id="folder-view">
          <thead>
          <tr>
            <th colspan="2">
              <button class="btn btn-table-head width-100 mb-xs" role="button">
                0 - 180 Days
              </button>
              <button class="btn btn-gray width-100 mb-xs" role="button">
                0 - 360 Days
              </button>
            </th>
            <th colspan="2">
              <div>
                <search-bar style="margin-right: 2em;" class="pull-right"></search-bar>
              </div>
            </th>
          </tr>
          </thead>
        </table>
        <div class="widget-body">
          <div class="row">
            <order-container colorNumber="ordernumbertext" class="no-padding col-md-4" title="Overide" number=247
                             imageSource="icon-overide"></order-container>
            <order-container colorNumber="ordernumbertext" class="no-padding col-md-4" title="Pending" number=454
                             imageSource="icon-pending"></order-container>
            <order-container colorNumber="ordernumbertext" class="no-padding col-md-4" title="Completed" number=87
                             imageSource="icon-complete"></order-container>
          </div>
        </div>
        <br/>
        <div style="padding: 1em">
          <b>Overdue By</b>
          <!--<br/>-->
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
              <button type="button" class="btn btn-secondary">0 - 30 Days</button>
              <button type="button" class="btn btn-secondary">30 - 60 Days</button>
              <button type="button" class="btn btn-secondary">60 - 90 Days</button>
              <button type="button" class="btn btn-secondary">90 - 180 Days</button>
            </div>
          </div>
          <div class="widget-body padding">
            <grid [rows]="orders" [columns]="orderColumns"></grid>
          </div>
        </div>

      </card-body>

      <card-footer style="text-align: right">
        <div class=" row text-right" style="margin-left: 33em;  ">
          <button-container title="&nbsp;View Latest Orders&nbsp;&nbsp;" buttonClass="btn-view"></button-container>
          <button-container style="margin-left: 3px;" title="&nbsp;&nbsp;Create Order&nbsp;&nbsp;" buttonClass="btn-create-order"></button-container>
        </div>
      </card-footer>

    </card>


    <!--PROJECTS INFO-->
    <card header="Projects" class="grid-item col-lg-6" style="margin-bottom: 1.5em" data-item-id="4">
      <card-body>
        <div style="margin: 1em" class="row">
          <search-bar style="margin-left: 19em;" class="pull-right"></search-bar>
          <!--<div class="input-group col-lg-4">-->
          <!--</div>-->
          <!--<div class="input-group col-md-4">-->
          <!---->
          <!--</div>-->

        </div>
        <div class="row">
          <order-container colorNumber="projectnumbertext" class="no-padding col-md-4" title="At Risk" number=0
                           imageSource="icon-atrisk"></order-container>
          <order-container colorNumber="projectnumbertext" class="no-padding col-md-4" title="On Track" number=0
                           imageSource="icon-ontrack"></order-container>
          <order-container colorNumber="projectnumbertext" class="no-padding col-md-4" title="Closed" number=0
                           imageSource="icon-closed"></order-container>
        </div>
      </card-body>

    </card>


    <!--SALES INFO-->
    <card header="Sales" class="grid-item col-xs-6 col-sm-4 col-md-3 col-lg-6" style="margin-bottom: 1.5em"
          data-item-id="5">
      <card-body>
        <div class="row">
          <order-container colorNumber="salestnumbertext" class="no-padding col-md-6" title="Lead Referrals" number=0
                           imageSource="icon-referrals"></order-container>
          <order-container colorNumber="salestnumbertext" class="no-padding col-md-6" title="Opportunities" number=499
                           imageSource="icon-opportunities"></order-container>
        </div>
      </card-body>
      <card-footer style="text-align: right">
        <div class="text-right">
          <button-container title="&nbsp;Submit a GOLD Lead&nbsp;&nbsp;" buttonClass="btn-submit-project"></button-container>
        </div>
      </card-footer>

    </card>


    <!--SERVICE MANAGMENT REPORTS-->
    <card header="Service Management" class="grid-item col-lg-6" style="margin-bottom: 1.5em" data-item-id="6">
      <card-body>
        <div class="row">

          <circle-report class=" no-padding col-md-4"></circle-report>
          <bar-chart class=" no-padding col-md-4"></bar-chart>
          <event-report class="no-padding col-md-4"></event-report>

          <button-container style="padding: 0.5em" title="View All Tickets" buttonClass="btn-view" class=" no-padding col-md-4"></button-container>
          <button-container style="padding: 0.5em" title="View All Alarms" buttonClass="btn-view" class="no-padding col-md-4"></button-container>
          <button-container style="padding: 0.5em" title="Schedule Events" buttonClass="btn-view" class="no-padding col-md-4"></button-container>

          <req-opened-report days="7" date="Mar. 20 11:00 GMT" criticalRequest='2343' expirationRequest="1229"
                             totalRequest="189" class=" no-padding col-md-4"></req-opened-report>
          <pie-chart title="SERVICE REQUESTS" date='Mar. 20 11:00 GMT' total="189" class="no-padding col-md-4"
                     [data]="serviceRequestData"></pie-chart>
          <pie-chart2 title="CHANGE REQUESTS" date='Mar. 20 11:00 GMT' total="189" class="no-padding col-md-4"
                      [data]="changeRequestData"></pie-chart2>


        </div>
      </card-body>
      <card-footer style="text-align: right">
        <div class="text-right">
          <button-container title="&nbsp;View All Requests&nbsp;&nbsp;" buttonClass="btn-view"></button-container>
        </div>
      </card-footer>

    </card>


    <!--CHATTER-->
    <card header="Chatter" class="grid-item col-lg-6" style="margin-bottom: 1.5em" data-item-id="7">
      <card-body>
        <chatter [messages]="messages"></chatter>
      </card-body>

      <card-footer style="text-align: right">
        <div class="text-right">
          <button-container title="&nbsp;View All Activity&nbsp;&nbsp;" buttonClass="btn-view"></button-container>
        </div>
      </card-footer>
    </card>


    <!--<div class="grid-item col-xs-6 col-sm-4 col-md-3">-->
    <!--<div class="grid-item-content"></div>-->
    <!--</div>-->
  </div>
</div>

