<style>
  html, body {
    height: 100%;
  }

  .btn-create-case {
    background-color: #910308;
    color: white;
  }

  .btn-view {
    background-color: rgb(126, 157, 176);
    color: white;
  }

  .btn-create-bill {
    background-color: darkorange;
    color: white;
  }

  .btn-create-order {
    background-color: brown;
    color: white;
  }

  .btn-submit-project {
    background-color: #5d8fc2;
    color: white;
  }

</style>


<div class="row">

  <!--Case Managment Activities DIV-->
  <card header="Case Managament Activities" class="col-lg-8">
    <card-body class="card-block">
      <table class="table table-striped table-emails table-hover" id="folder-view">
        <thead>
        <tr>
          <th colspan="2" id="folder-actions">
            <button class="btn btn-info width-100 mb-xs" role="button">
              Current
            </button>
            <button class="btn btn-gray width-100 mb-xs" role="button">
              Archived
            </button>
          </th>
          <th>
            <div class="input-group col-md-6">
              <search-bar style="width: 100%"></search-bar>
            </div>
          </th>
        </tr>
        </thead>
      </table>
      <div class="widget-body no-padding">
        <grid [rows]="cases" [columns]="caseColumns"></grid>
      </div>
    </card-body>

    <card-footer style="text-align: right">
      <div class="text-right">
        <button class="btn btn-primary">Create New Case</button>
      </div>
    </card-footer>
  </card>

  <!--Billing and Customer Inquiries CARD-->
  <card header="Billing and Customer Inquiries" class="col-lg-4">
    <card-body class="card-block">
      <div class="clearfix">
        <ul class="nav nav-tabs pull-xs-left" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic"
               aria-expanded="true"><b>Customer Care (NQ)</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#assumtion" role="tab"
               aria-controls="assumtion" aria-expanded="false"><b>Service Engagament Tool (SET)</b></a>
          </li>
        </ul>
      </div>
      <div class="tab-content mb-lg" id="myTabContent">
        <div role="tabpanel" class="tab-pane active in clearfix" id="basic" aria-labelledby="basic-tab"
             aria-expanded="true">
          <div class="row">
            <!--TODO make this auto replicable from angular backend-->
            <order-container colorNumber="billingnumbertext" style="width:50%;" title="Unresolved Billing Inquiries"
                             number=0 imagesource=""></order-container>
            <order-container colorNumber="billingnumbertext" style="width:50%;"
                             title="Denied inquiries Awaiting Closure" number=0 imagesource=""></order-container>
            <order-container colorNumber="billingnumbertext" style="width:50%;"
                             title="Approved Inquiries Awaiting Posting" number=0 imagesource=""></order-container>
            <order-container colorNumber="billingnumbertext" style="width:50%;" title="Inquiries Pending Approbal"
                             number=0 imagesource=""></order-container>
          </div>
        </div>
        <div class="tab-pane" id="assumtion" role="tabpanel" aria-labelledby="assumtion-tab" aria-expanded="false">
          <p>Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial point. I
            think
            the opposite actually. Everyone knows what is lore ipsum - it is easy to understand if text is lore
            ipsum.</p>
        </div>
      </div>
    </card-body>
    <card-footer style="text-align: right">
      <div class="text-right">
        <button class="btn btn-view">&nbsp;&nbsp;View Billing Invoice&nbsp;&nbsp;</button>
        <button class="btn btn-create-bill">&nbsp;&nbsp;Create Bill Inquiry&nbsp;&nbsp;</button>
      </div>
    </card-footer>
  </card>


  <!--Orders CARD-->
  <card header="Orders" class="col-lg-6">
    <card-body class="card-block">
      <div class="widget-body padding">
        <button class="btn btn-info width-100 mb-xs" role="button">
          0 - 180 Days
        </button>
        <button class="btn btn-gray width-100 mb-xs" role="button">
          0 - 360 Days
        </button>
      </div>
      <div class="widget-body">
        <div class="row">
          <order-container colorNumber="ordernumbertext" class="col-md-4" title="Overide" number=247
                           imagesource=""></order-container>
          <order-container colorNumber="ordernumbertext" class="col-md-4" title="Pending" number=454
                           imagesource=""></order-container>
          <order-container colorNumber="ordernumbertext" class="col-md-4" title="Completed" number=87
                           imagesource=""></order-container>
        </div>
      </div>
      <br/>
      <div class="widget-body padding">
        Overdue By
        <button class="btn btn-info width-100 mb-xs" role="button">
          All
        </button>
        <button class="btn btn-gray width-100 mb-xs" role="button">
          0 - 30 Days
        </button>
        <button class="btn btn-gray width-100 mb-xs" role="button">
          30 - 60 Days
        </button>
        <button class="btn btn-gray width-100 mb-xs" role="button">
          60 - 90 Days
        </button>
        <button class="btn btn-gray width-100 mb-xs" role="button">
          90 - 180 Days
        </button>
      </div>
      <div class="widget-body padding">
        <grid [rows]="orders" [columns]="orderColumns"></grid>
      </div>


    </card-body>

  </card>

  <!--Projects CARD-->
  <div class="col-lg-6">
    <card header="Projects" class="widget-container">
      <card-body>
        <div style="margin: 1em" class="row">
          <div class="input-group col-md-6">
          </div>
          <div class="input-group col-md-6">
            <search-bar style="width: 100%"></search-bar>
          </div>

        </div>
        <div class="row">
          <order-container colorNumber="projectnumbertext" class="col-md-4" title="At Risk" number=0
                           imagesource=""></order-container>
          <order-container colorNumber="projectnumbertext" class="col-md-4" title="On Track" number=0
                           imagesource=""></order-container>
          <order-container colorNumber="projectnumbertext" class="col-md-4" title="Closed" number=0
                           imagesource=""></order-container>
        </div>
      </card-body>

    </card>

    <!--Sales CARD-->
    <card header="Sales" class=" widget-container">
      <card-body>
        <div class="row">
          <order-container colorNumber="salestnumbertext" class="col-md-6" title="Lead Referrals" number=0
                           imagesource=""></order-container>
          <order-container colorNumber="salestnumbertext" class="col-md-6" title="Opportunities" number=499
                           imagesource=""></order-container>
        </div>
      </card-body>
      <card-footer style="text-align: right">
        <div class="text-right">
          <button class="btn btn-submit-project">Submit a GOLD Lead</button>
        </div>
      </card-footer>

    </card>
  </div>

  <card header="Chatter" class="col-lg-6">
    <card-body>
      <chatter [messages]="messages" ></chatter>
    </card-body>

    <card-footer style="text-align: right">
      <div class="text-right">
        <!--<input type="search" class="form-control form-control-sm" placeholder="Search">-->
        <button class="btn btn-view">View All Activity</button>
      </div>
    </card-footer>
  </card>


  <card header="Service Management" class=" widget-container col-lg-6">
    <card-body>
      <div class="row">

        <circle-report class="col-md-4"></circle-report>
        <bar-chart class="col-md-4"></bar-chart>
        <event-report class="col-md-4"></event-report>

        <button-container title="View All Tickets" class="col-md-4"></button-container>
        <button-container title="View All Alarms" class="col-md-4"></button-container>
        <button-container title="Schedule Events" class="col-md-4"></button-container>

        <req-opened-report days="7" date="Mar. 20 11:00 GMT" criticalRequest='2343' expirationRequest="1229" totalRequest="189" class="col-md-4"></req-opened-report>
        <pie-chart title="SERVICE REQUESTS" date='Mar. 20 11:00 GMT' total="189" class="col-md-4"></pie-chart>
        <pie-chart title="CHANGE REQUESTS" date='Mar. 20 11:00 GMT' total="189" class="col-md-4"></pie-chart>


      </div>
    </card-body>
    <card-footer style="text-align: right">
      <div class="text-right">
        <button class="btn btn-view">View All Requests</button>
      </div>
    </card-footer>

  </card>




</div>
