<style>

  .glyphicon.glyphicon-search-bar {
    font-size: 20px;
    margin-left: 1em;
    text-align: center;
    position:relative;
    top: calc(50% - 10px);
    color: #4d4d4d;
  }

</style>
<div class="row">
  <input type="search" class="form-control" id="search-project">
  <span class="input-group-btn">
                      <button type="button" class="btn btn-secondary"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
  <span><a><i class="glyphicon glyphicon-print glyphicon-search-bar"></i></a></span>
  <span><a><i class="glyphicon glyphicon-save glyphicon-search-bar"></i></a></span>
</div>
