<style>
  .user-name{
    color: cornflowerblue;
  }

  .company-name{
    color: cornflowerblue;
    font-weight: bold;
  }

</style>

<div style="padding: 2em">

  <h5>Recent chatter activity</h5>
  <div class="pre-scrollable">
    <div class="list-group list-group-lg">
      <a class="list-group-item" href="#">
                                <span class="thumb-sm pull-xs-left mr">
                                    <img class="img-circle" src="assets/img/people/a2.jpg" alt="...">
                                    <i class="status status-bottom bg-success"></i>
                                </span>
        <h6 class="no-margin company-name">Avantica - <label class="user-name">Paolo Carrasco</label></h6>
        <p class="help-block text-ellipsis no-margin">Hey! What's up? So many times since we</p>
      </a>

    </div>

  </div>
</div>
