<style>
  /*.orders-container-box .contenttext {*/
    /*width: 70% !important;*/
    /*display: block !important;*/
    /*position: relative !important;*/
    /*top: 0 !important;*/
    /*left: 0 !important;*/
    /*line-height: 16px;*/
    /*margin: 4px 0 !important;*/
    /*padding: 0 !important;*/
  /*}*/

  .billingnumbertext {
    display: block;
    height: 48px;
    color: #ff7000;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
    margin-left: 1em;
  }

  .pod-border {
    border: 1px solid #ccc;
    padding: 5px;
  }

  .panel-order-title{
    width: 70%;
  }

  .contenttext {
    color: #92b4cb;
    font-size: 14px;
    width: 168px;
    clear: right;
    display: block;
    position: relative;
    font-family: tahoma;
    olor: cornflowerblue;
  }

</style>

<div class="col-md-6 hidden-xs pod-border">
  <div class="panel panel-primary panel-order-title">
    <div class="panel-body orders-container-box contenttext">
      {{title}}
    </div>
    <div class="widget-controls">
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-menu-right"></i></a>
    </div>
  </div>
  <div>
    <label class="billingnumbertext" for="ontrack">0</label>
  </div>
</div>
