<div class="row">

  <card header="Gold Campaigns" class="col-md-4">
    <card-body>
      <action-bar></action-bar>
    </card-body>

  </card>

  <card header="Churn Alerts" class="col-md-4">
    <card-body>
      <action-bar></action-bar>
    </card-body>
  </card>

  <card header="Survey" class="col-md-4">
    <card-body>
      <action-bar></action-bar>
    </card-body>
  </card>

  <card header="Generated Gold Leads" class="col-md-4">
    <card-body>
      <action-bar></action-bar>
    </card-body>
  </card>

  <card header="Pulse" class="col-md-4">
    <card-body>
      <action-bar></action-bar>
    </card-body>
  </card>
</div>
